name: Push to Cloud Storage
on: [push]
jobs:
  job_id:
    permissions:
      contents: 'read'
      id-token: 'write'
     
     # We'll run Ubuntu for performance instead of Mac or Windows
    runs-on: ubuntu-latest
  
    steps:
    #- uses: actions/checkout@v2
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/372577350459/locations/global/workloadIdentityPools/updateclouds/providers/github'
        service_account: 'accesscsb@myresume1.iam.gserviceaccount.com'
       # credentials_json: ${{ secrets.gcp_credentials }}
              
    - id: 'upload-files'
      uses: 'google-github-actions/upload-cloud-storage@v0'
      with:
        path: 'https://github.com/AndrewBalaschak/MyResumeS'
        destination: 'www.andrewbala.com'
       # parent: True
          
          
    
