name: Push to Cloud Storage
on: [push]
jobs:
  job_id:
    permissions:
      contents: 'read'
      id-token: 'write'
     
     # We'll run Ubuntu for performance instead of Mac or Windows
    runs-on: ubuntu-latest
    
    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/372577350459/locations/global/workloadIdentityPools/updateclouds/providers/github'
        service_account: 'accesscsb@myresume1.iam.gserviceaccount.com'

    - id: 'upload-file'
      uses: 'google-github-actions/upload-cloud-storage@v0'
      with:
        path: 'index.html'
        destination: 'www.andrewbala.com'
        parent: false

    # Example of using the output
    - id: 'uploaded-files'
      run: gh pr comment $PR_URL --body "Uploading files to GCP"
      env:
        files: '${{ steps.upload-file.outputs.uploaded }}'
